h1 {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center; /* 居中标题 */
}

table {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #0C0DF0;
}

th, td {
    border: 1px solid #0C0DF0;
    padding: 0%;
    text-align: center;
}


th:hover {
    border: 3px solid red;
}
td:hover {
    border: 3px solid red;
}
.img{
    width: 100%;
}